.productos-p {
    background-color: $color-principal1;
    .row {
        align-items: center;
        justify-content: space-between;
        .card {
            text-align: center;
            padding-top: 10px;
            margin: 10px;
            &:hover {
                transform: scale(0.96);
                transition: 0.40s transform;
            }
            .card-body {
                .btn {
                    background-color: $color-principal1;
                    &:hover {
                        color: $color-hover;
                        transition: 0.9s;
                    }
                }
            }
        }
    }
    .catalogo-completo {
        margin-top: 15px;
        &:hover {
            transform: scale(0.96);
            transition: 0.40s transform;
        }
        .card-body {
            .btn {
                background-color: $color-principal1;
                &:hover {
                    color: $color-hover;
                    transition: 0.9s;
                }
            }
        }
    }
}
